{% extends "base.html" %}
{% block title %}Edit Teacher{% endblock %}
{% block content %}

<div class="card shadow-sm p-3">
  <form method="post">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-md-6">
        {{ form.subject.label_tag }}
        {{ form.subject }}
      </div>
      <div class="col-md-6">
        {{ form.assigned_class.label_tag }}
        {{ form.assigned_class }}
      </div>
    </div>
    <div class="d-flex gap-2 mt-3 justify-content-end">
      <button class="role-btn"><span><i class="bi bi-check2-all"></i> Save</span></button>
      <a class="role-btn" href="{% url 'admin_teacher_detail' object.pk %}"><span><i class="bi bi-x-lg"></i> Cancel</span></a>
      <button class="role-btn" onclick="window.history.back();"><span>← Back</span></button>
    </div>
  </form>
</div>
{% endblock %}
