# ==========================
# Environment
# ==========================
.env
.venv/
venv/

# ==========================
# Database
# ==========================
db.sqlite3

# ==========================
# Media
# ==========================
media/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Django migrations cache
# ==========================
**/__pycache__/

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
# ==========================
# Generated Django static files
# ==========================
staticfiles/